/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;

}

/* Logo Style */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Login Button */
.authContainer {

  a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 8px 22px;
    border-radius: 5px;
    font-weight: 500;
    background:#505d66;
    &:not(:last-child) {
      margin-right:  8px;
      background: #f49e1e;
    }

  }
}

.authContainer a:hover {
  background: #0056b3;
}
